body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


.exist_table{
    display: flex;
    justify-content: center;
    width: 100%;
}

th{
    text-align: left;
}

td{
    text-align: left;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

tr{
    border-bottom: solid black 1.5px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-class{
    width: 15px; 
    height: 15px;
    margin: 5px;
}

.del-icon{
    width: 20px; 
    height: 20px;
}