{% extends "index.html" %}


{% block content %}
    {{error}}
    <div class="container text-center">
        <div class="row justify-content-around">
            <div class="col-4" style="background-color: lightgrey;">
                <h3>Add Division</h3>
                <hr>
                <div class="add_sub">
                    <form action="/add_div" method="POST">
                        <label>Course</label>
                        <select name="course" class="form-select" aria-label="Default select example">
                            <option selected disabled>Open this select menu</option>
                            <option value="B. Tech">B. Tech</option>
                            <option value="M. Tech">M. Tech</option>
                        </select>
                        <label>Year</label>
                        <select name="year" class="form-select" aria-label="Default select example">
                            <option selected disabled>Open this select menu</option>
                            <option value="FY">First Year (FY)</option>
                            <option value="SY">Second Year (SY)</option>
                            <option value="TY">Third Year (TY)</option>
                            <option value="LY">Last Year (LY)</option>
                        </select>
                        <label>Department</label>
                        <select name="department" class="form-select" aria-label="Default select example">
                            <option selected disabled>Open this select menu</option>
                            <option value="{{ g.CURR_USER }}">{{ g.CURR_USER }}</option>
                        </select>
                        <label>Batch</label>
                        <input type="text" name="batch" placeholder="Name your Batch"/>
                        <label>No. of Divisions of Batch</label>
                        <input type="number" name="no_div" min="0" max="10">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-4" style="background-color:  #c9dde7;">
                <h3>List of Subjects Already Added</h3>
                <hr>
                <div class="exist_table">
                    <table style="width: 100%;">
                        <tr>
                            <th>Year</th>
                            <th>Course</th>
                            <th>Department</th>
                            <th>Batch</th>
                            <th>No. of Divisions</th>
                            <th>Options</th>
                        </tr>
                        {% for row in div_table  %}
                            <tr>
                                {% for col in row[1:-1] %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                                <td>
                                    <form action="/remove_div" method="POST">
                                        <input type="hidden" name="del_div" value="{{ row[0] }}">
                                        <input type="image" src="{{url_for('static', filename='/images/delete.png')}}" class="del-icon" alt="search icon" name="delete" value="delete"/>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}