{% extends "index.html" %}


{% block content %}
<div class="container">
    <div class="form-container">
        <p>{{ error }}</p>
        <h2>Assign Theory Slots</h2>
        <h2>{{ CURR_YEAR_SEM.upper() }}</h2>
        <form action="/assign_slots" id="slot-form" method="POST">
            <label for="class">Class</label>
            <select id="class" name="class">
                <option selected disabled>Select</option>
                {% for clas in input_class_res %}
                    <option value="{{ clas[0] }}">{{ clas[0] }}</option>
                {% endfor %}
            </select>

            <label for="division">Division</label>
            <select id="division" name="division">
                <!-- Example Division options -->
                <option selected disabled>Select</option>
                <!-- Add other division options here -->
            </select>

            <label for="subject">Subject</label>
            <select id="subject" name="subject">
                <!-- Example Subject options -->
                <option selected disabled>Select</option>
                <!-- Add other subject options here -->
            </select>

            <label for="room">Room</label>
            <select id="room" name="room">
                <option selected disabled>Select</option>
            </select>

            <label for="faculty">Faculty</label>
            <select id="faculty" name="faculty">
                <option selected disabled>Select</option>
            </select>

            <label for="multiple-faculty">Multiple Faculty</label>
            <input type="text" id="multiple-faculty" name="multiple-faculty">

            <label for="batch">Batch</label>
            <select id="batch" name="batch">
                <!-- Example Batch options -->
                <option selected disabled>Select</option>
                <option value="NO">NO</option>
                <!-- Add other batch options here -->
            </select>

            <label for="slots">Select Slots</label>
            <select id="slots" name="slots" multiple style="height: 30vh;">
                <!-- Example Slot options -->
                {% for slot in slots_res %}
                    <option value="{{slot[0]}}">{{ slot[1] }}</option>
                {% endfor %}
                <!-- Add other slots options here -->
            </select>

            <div class="form-buttons">
                <button type="submit" class="btn assign-theory" name="submit-button" value="L">Assign Theory</button>
                <button type="submit" class="btn assign-practical" name="submit-button" value="P">Assign Practical</button>
            </div>
        </form>
    </div>
    <div class="assigned-slots-container">
        <h2>Assigned Slots</h2>
        <h2>{{ g.CURR_USER }} DEPARTMENT</h2>
        <table class="assigned-slots">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Slot</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Faculty</th>
                    <th>Room</th>
                    <th>Division</th>
                    <th>Batch</th>
                    <th>Type</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- Placeholder row -->
                {% for row in results %}
                    <tr>
                        {% for data in row[1:] %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <td>
                            <form action="/remove_slot" method="POST">
                                <input type="hidden" name="del_slot" value="{{ row[0] }}">
                                <input type="image" src="{{url_for('static', filename='/images/delete.png')}}" class="del-icon" alt="search icon" name="delete" value="delete"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Additional rows of assigned slots will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", ()=>{
        const class_id = document.getElementById("class")

        class_id.addEventListener("change", (event)=>{
            const selected_class = event.target.value;
            const sel_json = {
                "sel_class": selected_class
            }
            fetch("/get_div", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sel_json)
            })
            .then(response => response.json() )
            .then(data => {
                const division = document.getElementById("division");
                const subject = document.getElementById("subject");
                const room = document.getElementById("room");
                const faculty = document.getElementById("faculty");
                const batch = document.getElementById("batch");

                const div_res = data.divisions;
                const sub_res = data.subjects;
                const room_res = data.rooms;
                const fac_res = data.faculty;

                div_res.forEach((div)=>{
                    const newOption = document.createElement("option");
                    newOption.text = div[0];
                    newOption.value = div[0];
                    division.appendChild(newOption);
                });
                
                division.addEventListener("change", (event)=>{
                    const sel_batch = event.target.value;
                    div_res.forEach((div) =>{
                        if(sel_batch === div[0]){
                            cur_batchs = [];
                            for(let k = 0; k < div[1]; k++){
                                cur_batchs = div[0] + String(k+1);
                                const newOption = document.createElement("option");
                                newOption.text = cur_batchs;
                                newOption.value = cur_batchs;
                                batch.appendChild(newOption);
                            }
                        }
                    });
                });

                sub_res.forEach((sub)=>{
                    const newOption = document.createElement("option");
                    newOption.text = sub;
                    subject.appendChild(newOption);
                });

                room_res.forEach((rooma)=>{
                    const newOption = document.createElement("option");
                    newOption.text = rooma;
                    room.appendChild(newOption);
                })

                fac_res.forEach((fac)=>{
                    const newOption = document.createElement("option");
                    newOption.text = fac;
                    faculty.appendChild(newOption);
                })

            })
        });
    });


</script>


{% endblock content %}