<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KJSCE Timetable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/timetable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/assign_slots.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{{url_for('static', filename='/images/engg-logo.png')}}" alt="Engineering" width="250" height="50" >
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Master Theory Slots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/add_subjects">Add Subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/add_faculty">Add Faculty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/add_room">Add Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/add_div">Add Division</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/import_file">Import Excel</a>
            </li>
          </ul>
        </div>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            Welcome {{ g.CURR_USER }}  
            {# Here We have to add the functionality of Dynamic Department #}
          </li>
          <li class="nav-item">
            <form class="container-fluid justify-content-start" action="/logout">
              <button class="btn btn-sm btn-outline-secondary" type="submit">Log Out</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
      {% block content %}
      {% endblock %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>

