{% extends "index.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <form action="/show_timetable" method="POST">
          <label>Select Class:</label>
          <select name="sel_class" class="form-select" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option value="FY B. Tech COMP A">FY B. Tech COMP A</option>
              <option value="FY B. Tech COMP B">FY B. Tech COMP B</option>
          </select>
        </form>
        <form action="/show_timetable" method="POST">
          <label>Select Room:</label>
          <select name="sel_room" class="form-select" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option value="B203">B203</option>
              <option value="B204">B204</option>
          </select>
        </form>
        <form action="/show_timetable" method="POST">
          <label>Select Faculty:</label>
          <select name="sel_fac" class="form-select" aria-label="Default select example">
              <option selected disabled>Open this select menu</option>
              <option value="HNN">HNN</option>
              <option value="SM">SM</option>
          </select>
        </form>
      </div>
    </nav>
    {% block timeshow %}
    {% endblock timeshow %}
{% endblock content %}