{% extends "showtime_nav.html" %}

{% block timeshow %}
    <div class="timetable-container">
        <header>
            <h1>K. J. Somaiya College of Engineering</h1>
            <p>(A Constituent College of Somaiya Vidyavihar University)</p>
            <h2>Time Table</h2>
        </header>
        <section class="class-info">
            <strong>CLASS: SY M.Tech. ADMIN</strong><br>
            <strong>ACADEMIC YEAR:  {{ CURR_YEAR_SEM[-9:-5] }}-{{ CURR_YEAR_SEM[-4:] }} SEMESTER: 
            {% if CURR_YEAR_SEM[0].upper() == "E" %}
                EVEN
            {% else %}
                ODD
            {% endif %}
            </strong>
        </section>
        <table class="timetable">
            {{ timetable | safe }}
        </table>
    </div>

{% endblock timeshow %}