{% extends "view_edit.html" %}

{% block view_edit_body %}


    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 5% !important; padding-top: 1%; padding-bottom: 1.5%;">
        {# <form action="/view_edit" method="post"> #}
            <div class="container-fluid">
                <input type="hidden" name="class" value="{{div_class}}">
                <input type="hidden" name="division" value='{{sel_class.split(" ")[-1]}}'>
                <label for="subject">Subject :</label>
                <select style="margin-left: 5px; margin-right: 5px;" id="subject" name="subject" onclick="add" onchange="addToData(this)">
                    <option selected disabled>Select</option>
                    <!-- Add other subject options here -->
                    {% for sub in sub_res  %}
                        <option value="{{sub[0]}}">{{sub[0]}}</option>
                    {% endfor %}
                </select>
                <label for="room">Room :</label>
                <select style="margin-left: 5px; margin-right: 5px;" id="room" name="room" onchange="addToData(this)">
                    <option selected disabled>Select</option>
                    {% for room in room_res %}
                        <option value="{{room[0]}}">{{room[0]}}</option>
                    {% endfor %}
                </select>
                <label for="faculty">Faculty :</label>
                <select style="margin-left: 5px; margin-right: 5px;" id="faculty" name="faculty" onchange="addToData(this)">
                    <option selected disabled>Select</option>
                    {% for fac in fac_res %}
                        <option value="{{fac[0]}}">{{fac[0]}}</option>
                    {% endfor %}
                </select>
                <label for="batch">Batch :</label>
                <select style="margin-left: 5px; margin-right: 5px;" id="batch" name="batch" onchange="addToData(this)">
                    <option selected disabled>Select</option>
                    <option value="NO">NO</option>
                    {% for batch in all_batch %}
                        <option value="{{batch}}">{{batch}}</option>
                    {% endfor %}
                    <!-- Add other batch options here -->
                </select>
                <label for="batch">Type :</label>
                <select style="margin-left: 5px; margin-right: 5px;" id="batch" name="type" onchange="addToData(this)">
                    <option selected disabled>Select</option>
                    <option value="L">L</option>
                    <option value="P">P</option>
                    <option value="T">T</option>
                </select>
            </div>
            <button type="submit" onclick="checkInsertDataLength()">Submit</button>
            <button type="submit" onclick="deleteData()">Delete</button>
        {# </form> #}
    </nav>





<script>
    var insertData = {};
    const select_class_division = document.querySelectorAll("input[type='hidden'");
    
    insertData["class"] = select_class_division[0].value;
    insertData["division"] = select_class_division[1].value;
    
    console.log(insertData);
    function addToData(element){
        insertData[element.name] = element.value;
    }

    document.addEventListener("DOMContentLoaded", () => {
        const tdData = document.querySelectorAll("td");
        tdData.forEach((tdDataInfo, i) => {
            tdDataInfo.addEventListener("click", (element) => {
                insertData["slot"] = tdData[i].classList[0];
                insertData["slot_id"] = tdData[i].getAttribute("value");
            });
        });
    });

    function checkInsertDataLength() {
        if (Object.keys(insertData).length >= 8) {
            // Trigger the event
            insertDataToBack();
        }
    }

    function deleteData(){
        if(Object.keys(insertData).includes("slot_id")){
            if(confirm("Do you want to delete the slot : " + insertData["slot_id"])){
                deletDataFromBack();
            }
        } else {
            alert("No slot selected for deletion.");
        }
    }



    async function deletDataFromBack(){
        const sendDelBody = JSON.stringify(insertData);
        await fetch("/view_delete_api",{
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: sendDelBody
        })
        .then(response => response.json())
        .then(data => {
            errors = data.error;
            alert(errors);
            location.reload();
        })
    }

    async function insertDataToBack(){
        // Your event handling code here
        const sendBody = JSON.stringify(insertData);
        await fetch("/view_edit_check_api", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: sendBody
        })
        .then(response => response.json())
        .then(data => {
            errors = data.error;
            console.log(errors);
            alert(errors);
            location.reload();
        })
    }

    

</script>



{% endblock view_edit_body %}